﻿<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GetFit</title>
        <base href="~/" />
    </head>
    <body>
        <h1>Hello world</h1>
        <app>Загрузка...</app>
    </body>

    <script src="../../wwwroot/dist/polyfills.js"></script>
    <script src="../../wwwroot/dist/app.js"></script>
</html>
