﻿<h1>Hello from home</h1>
<button pButton type="button" label="Primary"></button>

<button pButton type="button" label="Secondary" class="ui-button-secondary"></button>

<button pButton type="button" label="Success" class="ui-button-success"></button>
<p-button icon="fa fa-fw fa-check" label="Click"></p-button>

<h3>Responsive</h3>
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
</div>

<h3 class="first">Password</h3>
<input pPassword type="password" />

<h3>Float Label</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Username</label>
</span>

<p-fieldset legend="Toggleable" [toggleable]="true">
    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
    kind and benevolent to those who give respect,
    but given to ruthless violence whenever anything stands against the good of the family.
</p-fieldset>
